@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NewWorld.BiSMarket.Core
@model NewWorld.BiSMarket.Core.Entity.User

@{
    ViewData["Title"] = "Settings";
}



            
<div class="container">
    
<div>
    <h1 class="text-light">My Account</h1>
    <hr class=" text-light"/>
    <dl class="row  text-light">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            ********* <a asp-action="ChangePassword" asp-controller="Account">(Change Password)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
            @if (!Model.IsEmailVerified)
            {
                //TODO: Add resend email verification
            }
            @if (!Model.IsVerifiedAccount)
            {
                //TODO: Add account/character verification
            }
        </dd>
        
        @*
            TODO: add discord and steam link
        *@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscordId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamId)
        </dd>*@
        


        
    </dl>
</div>
</div>