
@{
    ViewData["Title"] = "FAQ";
}

<div class="row d-flex justify-content-center">


<div class="col-md-6">
<h2 class="text-center text-light fw-bold">
    Frequently Asked Questions
</h2>
<hr class="text-light"/>
<div class="wrap-collabsible">
    <input id="collapsible-1" class="toggle" type="checkbox">
    <label for="collapsible-1" class="lbl-toggle">
        What is New World Market and why i made it ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        As we all know in game trade chat and discord servers with trade chat is a mess it's hard to find what you are looking for.
                    </li>
                    <li>
                        There is no filter for items and you have to scroll through a lot of messages or you must be keep playing the game and post messages.
                    </li>
                    <li>
                        With New World Market website, now every seller can post their items and buyers can find what they are looking for more easily and quickly.
                    </li>
                    <li>
                        I made this website to make it easier for people to find what they are looking for.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="wrap-collabsible">
    <input id="collapsible-2" class="toggle" type="checkbox">
    <label for="collapsible-2" class="lbl-toggle">
        How to sell item ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        First you must create an account and login to the website. You need to add your character to your account.
                    </li>
                    <li>
                        Login in to the game and take a screenshot of the item you want to sell.

                    </li>
                    <li>
                        Be aware that item screenshot must be like in the <a href="#">example</a>. Right now only English language is supported.
                    </li>
                    <li>
                        In create <a asp-action="CreateSellOrder" asp-controller="Order">sell order section</a> you need to upload the screenshot to the website.
                    </li>
                    <li>
                        This may take a while since the system is going to be processing the image and retrieving the item information from the image.

                    </li>
                    <li>
                        There may be some issues with how the current version of the system is processing the image. You can report the issue in the <a href="@LinkMgr.DiscordUrl">discord server</a>

                    </li>
                    <li>
                        Once upload is complete you will be redirect to the sell order page where you can set price and list your item.

                    </li>
                    <li>
                        You can see your order in the <a asp-controller="Account" asp-action="MyOrders">my orders section</a>.

                    </li>
                    <li>
                        A sell order will expire after 14 days of listing. You must login to the website and activate the order of your item.
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-12" class="toggle" type="checkbox">
    <label for="collapsible-12" class="lbl-toggle">
        How to buy item ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Be sure the item you want to buy is listed in the server you are playing.
                    </li>
                    <li>
                        Simply copy the name of the seller and directly message to the seller in game.
                    </li>
                    <li>
                        If seller is offline add the seller to your friend list and send message when seller is online.
                    </li>
                    <li>
                        Once you have contacted to seller, you can buy the item by meeting the seller in game and using in game trade function.
                    </li>
                </ul>


            </p>
        </div>
    </div>
</div>

<div class="wrap-collabsible">
    <input id="collapsible-3" class="toggle" type="checkbox">
    <label for="collapsible-3" class="lbl-toggle">
        I found a bug or i have a suggestion, how can i report it ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        We have a discord channel for fast and quick communication.
                    </li>
                    <li>
                        You can join the <a href="@LinkMgr.DiscordUrl">discord server</a> and report the issue or suggest a feature.
                    </li>
                </ul>


            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-4" class="toggle" type="checkbox">
    <label for="collapsible-4" class="lbl-toggle">
        System can not read my screenshot or it is reading it wrong, what should i do ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        You can contact us through <a href="@LinkMgr.DiscordUrl">discord server</a> and report the issue. We will solve it as soon as possible.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-5" class="toggle" type="checkbox">
    <label for="collapsible-5" class="lbl-toggle">
        Will there be more features ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Yes. Right now i have a lot in my mind to implement but for beta release i have kept it simple.
                    </li>
                    <li>
                        In future i will be adding more features like;
                    </li>
                    <li>
                        Creating buy order
                    </li>
                    <li>
                        Faster load times and better performance, optimizations
                    </li>
                    <li>
                        Better UI
                    </li>
                    <li>
                        Search with item unique hash code
                    </li>
                    <li>
                        Benefits to the users who are supporting the project financially
                    </li>
                    <li>
                        Linking discord account
                    </li>
                    <li>
                        Linking steam account and login with steam account
                    </li>
                    <li>
                        Discord bot to handle notifications for linked accounts and more
                    </li>
                    <li>
                        Email notifications
                    </li>
                    <li>
                        Character verification
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-6" class="toggle" type="checkbox">
    <label for="collapsible-6" class="lbl-toggle">
        I want to support this project how can i do it ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Simply just sharing with your fellow New World players will be enough.

                    </li>
                    <li>
                        You can report bugs or suggest features through <a href="@LinkMgr.DiscordUrl">discord server</a>.
                    </li>
                    <li>
                        You can support me financially you can do it through <a href="@LinkMgr.PatreonUrl">Patreon</a> or <a href="@LinkMgr.BuyMeCoffeeUrlUrl">Buy me a coffee</a> websites.
                    </li>
                    <li>
                        You can also contribute to the project by helping me with the development if you have the knowledge.
                    </li>
                    <li>
                        I appreciate all the support.
                    </li>

                </ul>

            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-7" class="toggle" type="checkbox">
    <label for="collapsible-7" class="lbl-toggle">
        Is there any benefits for financially supporting ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Currently only my gratitude and discord role but maybe in future.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-62" class="toggle" type="checkbox">
    <label for="collapsible-62" class="lbl-toggle">
        Why there is limits on some features ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Currently character limit per account is set to 1. 
                    </li>
                    <li>
                        Active order list limit is set to 10. This is to prevent spamming the system with fake orders.
                    </li>
                    <li>
                        I will be increasing these limits in future by account and character verification.
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-63" class="toggle" type="checkbox">
    <label for="collapsible-63" class="lbl-toggle">
        I can not add my character to my account ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        If someone else has already added your character to their account you can not add it to your account.
                    </li>
                    <li>
                        If you are the original owner of the character you can contact us through <a href="@LinkMgr.DiscordUrl">discord server</a> and we will remove it from the other account.
                    </li>
                </ul>

            </p>
        </div>
    </div>
</div>
<div class="wrap-collabsible">
    <input id="collapsible-8" class="toggle" type="checkbox">
    <label for="collapsible-8" class="lbl-toggle">
        Is this project open source ?
    </label>
    <div class="collapsible-content">
        <div class="content-inner">
            <p>
                <ul>
                    <li>
                        Yes it is. You can find the source code in the <a href="@LinkMgr.GithubUrl">github repository</a>.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

</div>
</div>

@section Css
{
    <style>
        input[type='checkbox'] { display: none; }

        .wrap-collabsible {
            /*Add gray border*/
            border: 1px solid gray;
            border-radius: 7px;
            margin: 1.2rem 0;
        }

        .lbl-toggle {
            /*disable selection*/
            -webkit-user-select: none;
            /*background: #0069ff;*/
            border-radius: 7px;
            color: #DDD;
            cursor: pointer;
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 1rem;
            text-align: center;
            text-transform: uppercase;
            transition: all 0.25s ease-out;
        }

        .lbl-toggle:hover { color: #FFF; }

        .lbl-toggle::before {
            border-bottom: 5px solid transparent;
            border-left: 5px solid currentColor;
            border-top: 5px solid transparent;
            content: ' ';
            display: inline-block;
            margin-right: .7rem;
            transform: translateY(-2px);
            transition: transform .2s ease-out;
            vertical-align: middle;
        }

        .toggle:checked + .lbl-toggle::before { transform: rotate(90deg) translateX(-3px); }

        .collapsible-content {
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
        }

        .toggle:checked + .lbl-toggle + .collapsible-content { max-height: 350px; }

        .toggle:checked + .lbl-toggle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .collapsible-content .content-inner {
            background: rgba(50, 55, 50, .2);
            border-bottom: 1px solid rgba(0, 105, 255, .45);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            color: white;
            padding: .5rem 1rem;
        }

        .collapsible-content p { margin-bottom: 0; }

    </style>
}