@model List<Character>
@{
    ViewData["Title"] = "Characters";
}


<div class="container">
    <div class="d-flex bd-highlight mb-3">

        <div class="d-flex align-items-center justify-content-between ">
            <h1 class="text-light ">My Characters <label class="text-secondary">(@Model.Count / @ConstMgr.DefaultCharacterLimit)</label></h1>
            @if (Model.Count < ConstMgr.DefaultCharacterLimit)
            {
                <a class="btn btn-success" asp-action="AddCharacter" asp-controller="Account">Add Character</a>
            }
        </div>
    </div>
    <hr class=" text-light"/>

    <table class="table table-dark table-striped table-disable-search">
        <thead>
        <tr>
            <th scope="col">Register Date</th>
            <th scope="col">Name</th>
            <th scope="col">Region</th>
            <th scope="col">Server</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RegisterDate</td>
                <td>@item.Name</td>
                <td>@ServerMgr.This.GetRegion(item.Region)?.Name</td>
                <td>@ServerMgr.This.GetServer(item.Server)?.Name</td>
                <td>Not Verified</td>
                <td>
                    <div class="btn-group dropdown dd-menu-ignore">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu bg-dark ">
                            <li>
                                <a class="dropdown-item dropdown-item-custom btn-remove-character text-danger" data-guid="@item.Guid" data-character-name="@item.Name">Remove</a>

                            </li>

                        </ul>
                    </div>
                    @*<a class="btn btn-success btn-verify-character" href="~/Account/VerifyCharacter/@item.Guid">Verify</a>*@
                </td>

            </tr>
        }


        </tbody>
    </table>

</div>