@using NewWorld.BiSMarket.Core
@model NewWorld.BiSMarket.Core.Models.OrderData
@{
    ViewData["Title"] = "Home Page";
}


<div class="main-container">
    <div class="row ">
        <div class="col col-sm-2">
            <div class="left-bar text-light">
                <ul class="w-100">
                    <li id="ctg-item-type-.Id" class="py-1 text-center fw-bold">
                        <h5>All Supported Items</h5>
                    </li>
                    
                    @foreach (var item in ItemMgr.This.ItemList)
                    {
                        <li id="ctg-item-type-@item.Id" class="pt-1">
                            <a href="#" class="btn btn-dark w-100 m-0 rounded-2">@item.Name</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
        <div class="col col-xl-10 pt-2">
            <h5 class="text-light text-center">Recent Sell Orders</h5>
            <table class="table table-dark table-striped ">
                <thead>
                <tr>
                    <th scope="col">Icon</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Region</th>
                    <th scope="col">World</th>
                    <th scope="col">Gear Score</th>
                    <th scope="col">Attributes</th>
                    <th scope="col">Perks</th>
                    <th scope="col">Price</th>
                    <th scope="col">Delivery In</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.SellOrderList)
                {
                    <tr>
                        <td></td>
                        <td>@ItemMgr.This.GetItemTypeName(item.ItemType)?.Name</td>
                        <td>@item.Character.Name</td>
                        <td>@ServerMgr.This.GetRegion(item.Region)?.Name</td>
                        <td>@ServerMgr.This.GetServer(item.Server)?.Name</td>
                        <td>@item.GearScore</td>
                        <td>@Html.Raw(AttributeMgr.This.ParseAttributeFormattedText(item.Attributes))</td>
                        <td>@Html.Raw(PerkMgr.This.ParsePerkFormattedText(item.Perks))</td>
                        <td>@item.Price.ConvertPriceToReadableString()</td>
                        <td>@item.EstimatedDeliveryTimeHour hour(s)</td>

                    </tr>
                }
               
                </tbody>
            </table>

            <h5 class="text-light text-center pt-5">Recent Buy Orders</h5>
            <table class="table table-dark table-striped ">
                <thead>
                <tr>
                    <th scope="col">Icon</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Region</th>
                    <th scope="col">World</th>
                    <th scope="col">Gear Score</th>
                    <th scope="col">Attributes</th>
                    <th scope="col">Perks</th>
                    <th scope="col">Price</th>
                    <th scope="col">Delivery In</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model.BuyOrderList)
                {
                    <tr>
                        <td></td>
                        <td>@ItemMgr.This.GetItemTypeName(item.ItemType)?.Name</td>
                        <td>@item.Character.Name</td>
                        <td>@ServerMgr.This.GetRegion(item.Region)?.Name</td>
                        <td>@ServerMgr.This.GetServer(item.Server)?.Name</td>
                        <td>@item.GearScore</td>
                        <td>@Html.Raw(AttributeMgr.This.ParseAttributeFormattedText(item.Attributes))</td>
                        <td>@Html.Raw(PerkMgr.This.ParsePerkFormattedText(item.Perks))</td>
                        <td>@item.Price.ConvertPriceToReadableString()</td>
                        <td>@item.EstimatedDeliveryTimeHour hour(s)</td>

                    </tr>

                }
               
                </tbody>
            </table>
        </div>
    </div>


</div>