

@model NewWorldMarket.Core.Models.CreateSellOrder

@{
    ViewData["Title"] = "Create Sell Order";


}

<div class="container ">
<div class="row">

<div class="col-md-4 text-light">
    <h1 class="text-light">Create Sell Order</h1>
    <hr class="text-light"/>

    <form asp-action="CreateSellOrder">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input asp-for="ImageGuid" class="form-control d-none"/>
      
      @* <input asp-for="Perk1" class="form-control d-none"/>
        <input asp-for="Perk2" class="form-control d-none"/>
        <input asp-for="Perk3" class="form-control d-none"/>*@
        <div class="form-group py-2">
            <label asp-for="CharacterGuid" class="control-label"></label>
            <select class="form-control bg-dark text-light" asp-for="CharacterGuid">
                @foreach (var item in Model.CharactersListForView)
                {
                    var region = ServerMgr.This.GetRegion(item.Region).Value;
                    var server = ServerMgr.This.GetServer(item.Server).Value;
                    <option value="@item.Guid">@($"{item.Name} {region.Name}:{server.Name}")</option>
                }
            </select>
            <span asp-validation-for="CharacterGuid" class="text-danger"></span>
        </div>

        <div class="form-group py-2">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" type="number" class="form-control bg-dark text-light"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group py-2">
            <label asp-for="ItemType" class="control-label"></label>
            <select class="form-control bg-dark text-light" asp-for="ItemType">
                <option value="-1" selected disabled>Select Item Type</option>
                @foreach (var item in Enum.GetValues<ItemType>())
                {
                    <option value="@((int)item)">@item.ToString().Replace("_", " ")</option>
                }
            </select>
            <span asp-validation-for="ItemType" class="text-danger"></span>
        </div>
        <div class="form-group py-2">
            <label class="control-label">Attribute 1</label>
            <select class="form-control bg-dark text-light" asp-for="Attribute1">
                <option value="-1" selected disabled>None</option>
                @foreach (var item in Enum.GetValues<AttributeType>())
                {
                    <option value="@((int)item)">@item.ToString().Replace("_", " ")</option>
                }
            </select>
            <span asp-validation-for="Attribute1" class="text-danger"></span>

        </div>
      <div class="form-group py-2">
          <label class="control-label">Attribute 2</label>

          <select class="form-control bg-dark text-light" asp-for="Attribute2">
              <option value="-1" selected>None</option>
              @foreach (var item in Enum.GetValues<AttributeType>())
              {
                  <option value="@((int)item)">@item.ToString().Replace("_", " ")</option>
              }
          </select>
          <span asp-validation-for="Attribute2" class="text-danger"></span>
      </div>
      <div class="form-group py-2">
          <label class="control-label" asp-for="Perk1"></label>
          <select class="form-control bg-dark text-light" asp-for="Perk1">
              <option value="-1" selected disabled>None</option>
              @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
              {
                  <option value="@item.Id">@item.EnglishName</option>
              }
          </select>
          <span asp-validation-for="Perk1" class="text-danger"></span>
      </div>
      <div class="form-group py-2">
          <label class="control-label" asp-for="Perk2"></label>
          <select class="form-control bg-dark text-light" asp-for="Perk2">
              <option value="-1" selected disabled>None</option>
              @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
              {
                  <option value="@item.Id">@item.EnglishName</option>
              }
          </select>
          <span asp-validation-for="Perk2" class="text-danger"></span>
      </div>
      <div class="form-group py-2">
          <label class="control-label" asp-for="Perk3"></label>
          <select class="form-control bg-dark text-light" asp-for="Perk3">
              <option value="-1" selected>None</option>
              @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
              {
                  <option value="@item.Id">@item.EnglishName</option>
              }
          </select>
          <span asp-validation-for="Perk3" class="text-danger"></span>
      </div>
@*        <div class="form-group py-2">
            <label asp-for="Perk1" class="control-label"></label>
            <div class="btn-group dropdown " data-selection-limit="1" id="dd-perks">
                <button type="button" class="btn btn-primary dropdown-toggle btn-dd-perk" data-mdb-toggle="dropdown" aria-expanded="false">
                    Perk 1
                </button>
                <ul class="dropdown-menu bg-dark ">
                    <li>
                        <input type="text" id="search-dropdown" class="form-control bg-dark text-light border-0 rounded-5" placeholder="Search...">
                    </li>
                    @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
                    {
                        <li>
                            <a class="dropdown-item dropdown-item-custom btn-filter-perk" data-value="@item.Id">@item.EnglishName</a>
                        </li>
                    }
                </ul>
            </div>
            <span asp-validation-for="Perk1" class="text-danger"></span>
        </div>
        <div class="form-group py-2">
            <label asp-for="Perk2" class="control-label"></label>
            <div class="btn-group dropdown " data-selection-limit="1" id="dd-perks">
                <button type="button" class="btn btn-primary dropdown-toggle btn-dd-perk" data-mdb-toggle="dropdown" aria-expanded="false">
                    Perk 2
                </button>
                <ul class="dropdown-menu bg-dark ">
                    <li>
                        <input type="text" id="search-dropdown" class="form-control bg-dark text-light border-0 rounded-5" placeholder="Search...">
                    </li>
                    @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
                    {
                        <li>
                            <a class="dropdown-item dropdown-item-custom btn-filter-perk" data-value="@item.Id">@item.EnglishName</a>
                        </li>
                    }
                </ul>
            </div>
            <span asp-validation-for="Perk2" class="text-danger"></span>
        </div>
    <div class="form-group py-2">
        <label asp-for="Perk3" class="control-label"></label>
        <div class="btn-group dropdown " data-selection-limit="1" id="dd-perks">
            <button type="button" class="btn btn-primary dropdown-toggle btn-dd-perk" data-mdb-toggle="dropdown" aria-expanded="false">
                Perk 3
            </button>
            <ul class="dropdown-menu bg-dark ">
                <li>
                    <input type="text" id="search-dropdown" class="form-control bg-dark text-light border-0 rounded-5" placeholder="Search...">
                </li>
                @foreach (var item in PerkMgr.This.Perks.OrderBy(x => x.EnglishName))
                {
                    <li>
                        <a class="dropdown-item dropdown-item-custom btn-filter-perk" data-value="@item.Id">@item.EnglishName</a>
                    </li>
                }
            </ul>
        </div>
        <span asp-validation-for="Perk3" class="text-danger"></span>
    </div>

*@



        <div class="form-group py-2">
            <label asp-for="Rarity" class="control-label"></label>
            <select class="form-control bg-dark text-light" asp-for="Rarity">
                <option value="-1" selected disabled>Select Rarity</option>
                @foreach (var item in Enum.GetValues<RarityType>())
                {
                    <option value="@((int)item)">@item.ToString()</option>
                }
            </select>
            <span asp-validation-for="Rarity" class="text-danger"></span>
        </div>




        <div class="form-group py-2">
            <label asp-for="GearScore" class="control-label"></label>
            <input asp-for="GearScore" min="590" max="600" class="form-control bg-dark text-light"/>
            <span asp-validation-for="GearScore" class="text-danger"></span>
        </div>

      <div class="form-group form-check">
          <label class="form-check-label">
              <input class="form-check-input" asp-for="Confirmation"/> @Html.DisplayNameFor(model => model.Confirmation)
          </label>
      </div>
        <div class="form-group pt-4">
            <input type="submit" value="Confirm" class="btn btn-success m-0"/>
        </div>
    </form>
</div>

<div class="col">
    <img width="400vh" src="~/api/Image/Get/@Model.ImageGuid"/>
</div>
</div>


</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/create-sell-order.js"></script>

}



@*<div class="form-group py-2 
@if (isReadLevelReq) { <text>d-none</text>}
                    ">
                    <label asp-for="LevelRequirement" class="control-label"></label>
                    <input asp-for="LevelRequirement" readonly class="form-control"/>
                    <span asp-validation-for="LevelRequirement" class="text-danger"></span>
                </div>*@

@*<div class="form-group py-2 d-none">
            <label asp-for="UniqueHash" class="control-label"></label>
            <input asp-for="UniqueHash" readonly class="form-control"/>
            <span asp-validation-for="UniqueHash" class="text-danger"></span>
        </div>*@

@*<div class="form-group py-2
@if (isReadTier) { <text>d-none</text>}
">
                    <label asp-for="Tier" class="control-label"></label>
                    <select class="form-control" asp-for="Tier">
                        @foreach (var item in Enum.GetValues<TierType>())
                        {
                            <option value="@((int)item)">@item.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="Tier" class="text-danger"></span>
                </div>*@
@*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsGemChangeable"/> @Html.DisplayNameFor(model => model.IsGemChangeable)
                    </label>
                </div>*@
@*@if (Model.IsNamed == null)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsNamed"/> @Html.DisplayNameFor(model => model.IsNamed)
                        </label>
                    </div>
                }*@

@*<div class="form-group py-2
@if (isReadGems) { <text>d-none</text>}
">
                    <label asp-for="GemId" class="control-label"></label>
                    <select class="form-control" asp-for="GemId">
                        <option value="0">None</option>

                        @foreach (var item in GemMgr.This.Gems)
                        {
                            <option value="@item.Id">@item.EnglishName</option>
                        }
                    </select>
                    <span asp-validation-for="GemId" class="text-danger"></span>
                </div>*@

@*<div class="form-group py-2">
                    <label asp-for="EstimatedDeliveryTimeHour" class="control-label"></label>
                    <input asp-for="EstimatedDeliveryTimeHour" class="form-control"/>
                    <span asp-validation-for="EstimatedDeliveryTimeHour" class="text-danger"></span>
                </div>*@